{% extends "mama_cas/__base.html" %}
{% load i18n %}

{% block content %}
    <div id="grp-content-container">
        <div class="g-d-c g-d-10 g-centered">
            <form id="login-form" class="group" method="post">
                {% csrf_token %}
                <fieldset class="grp-module grp-module-login grp-module">
                    <div class="grp-module">
                        <h1><span class="grp-admin-title">{% trans "Universal Core Hub" %}</span></h1>

                        {% include "mama_cas/_messages.html" %}

                        <div class="grp-row box{% if form.username.errors %} errorfield{% endif %}">
                            {{ form.username.label_tag }} <!-- needs .required -->
                            {{ form.username }}
                        </div>
                        <div class="grp-row grp-connected box{% if form.password.errors %} errorfield{% endif %}">
                            {{ form.password.label_tag }} <!-- needs .required -->
                            {{ form.password }}
                        </div>
                        {% if form.warn %}
                            <div class="field group">
                                {{ form.warn }}<span class="label">{{ form.warn.label_tag }}</span>
                            </div>
                        {% endif %}
                    </div>


                </fieldset>
                <fieldset class="grp-module grp-submit-row">
                    <ul>
                        <li>
                            <input class="grp-button grp-default" type="submit" name="submit_login" value="{% trans "Login" %}" />
                        </li>
                    </ul>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}
